/* Custom styles for login page */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    background-image: linear-gradient(100deg, #575656, #062e3f);
    color: #ffdfdb;
}

.form-container {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.form-container h2 {
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

.input-container label {
    font-size: 18px;
    margin-right: 10px;
}

.input-container input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 10px;
}

.login-btn {
    background-color: #575656;
    color: #ffdfdb;
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

.login-btn:hover {
    background-color: #062e3f;
}

.login-input:focus {
    border-bottom: 2px solid #062e3f;
}


.input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.input-container label {
    font-size: 18px;
    margin-bottom: 5px;
}

.input-container input {
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    padding: 10px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.input-container input:focus {
    border-color: #062e3f;
}

.input-container {
    margin-bottom: 20px;
}

.input-container label {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
}

.input-container input {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    padding: 10px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.input-container input:focus {
    border-color: #062e3f;
}

.login-btn {
    width: 100%;
    background-color: #575656;
    color: #ffdfdb;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-btn:hover {
    background-color: #062e3f;
}
